# macOS
.DS_Store

# Build artifacts
build/

# Model binaries
*.bin
*.uf2

# KiCad
*-backups/
~*.lck
*.bak
fabrication-toolkit-options.json
pico-llm-kicad/production/

# Trained models and checkpoints
models/

# Python
__pycache__/
*.pyc
